.DS_Store
app/node_modules

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
app/.pnp
app/.pnp.js

# testing
app/coverage

# production
app/build

app/npm-debug.log*
